/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
*/
/* stylelint-disable */
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Begin site styles below */

/* set font for entire webpage */
html{
  /*
    Major Third Modular scale
    https://www.modularscale.com/?16&px&1.25
    */
    font-family: "Georgia", serif;
    line-height: 1.563em; /* 25 / 16px = 1.563 */
}

/* heading 1 properties and styles */
h1 {
  background-color: #fcefb5;
  color: #636363;
  font-size: 2.441em; /* 39.063 / 16 px = 2.441 */
  line-height: 2.441em; /* 39.063 / 16 = 2.441 */
  padding: 5%;
  padding-bottom: 5%;
  padding-top: 5%;
  text-align: center;
}

/* grid for the menu class in order to make the homepage links side by side*/
.main-menu{
  background-color: #f9bbbb;
  display: grid;
  font-size: 1.25em; /* 20 / 16px = 1.25 */
  grid-template-areas: "home-grid about-grid resume-grid";
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding-bottom: 2.5%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2.5%;
  text-align: center;
}

figure{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.media {
  min-width: 0;
  margin: 0.3333333em;
}

img {
  width: 450px;
  max-width: 100%;
  max-height: 450px;
}
/* styles for heading 2 */
h2{
  font-size:1.25em; /* 20 / 16px = 1.25 */
  background-color: #e5d6ff;
  padding: 0.5%;
}

/* styling unlisted items */
ul {
  list-style-type: circle;
  padding: 0 0 0.6111em 1.222em;
}

/* styles for about me page */
#backstory,
#hobbies,
#shows,
#contact,
#objective,
#profile,
#experience,
#education{
  font-size: 1em; /* 16 / 16px = 1 */
  padding: 5%;
}

footer{
  padding: 5%;
  font-size: 0.8em; /* 12.8 / 16px = 0.8 */
}

/* alias for homepage menu links for all 3 pages*/
a[href=".about-me-link"]
{
  grid-area: about-grid;
}

a[href=".resume-link"]
{
  grid-area: resume-grid;
}

a[href=".home-link"]
{
  grid-area: home-grid;
}

/* media queries */
@media screen and (min-width: 600px){

  /* heading 1 properties and styles */
  h1 {
    font-size: 3.052em; /* 48.828 / 16 px = 3.052 */
    line-height: 2em; /* 48 / 24 = 2 */
    padding: 5%;
    text-align: center;
  }

  /* grid for the menu class in order to make the homepage links side by side*/
  .main-menu{
    display: grid;
    font-size: 1.953em;
    grid-template-areas: "home-grid about-grid resume-grid";
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    padding-bottom: 2.5%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 2.5%;
    text-align: center;
  }

  figure{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .media {
    min-width: 0;
    margin: 0.3333333em;
  }

  img {
    width: 450px;
    max-width: 100%;
    max-height: 450px;
  }
  /* styles for heading 2 */
  h2{
    font-size:1.563em; /* 25 / 16px = 1.953 */
  }

  /* styling unlisted items */
  ul {
    list-style-type: circle;
    padding: 0 0 0.6111em 1.222em;
  }

  /* styles for about me page */
  #backstory,
  #hobbies,
  #shows,
  #contact,
  #objective,
  #profile,
  #experience,
  #education{
    font-size: 1.25em; /* 20 / 16px = 1.25 */
    padding: 5%;
  }

@media screen and (min-width: 1000px){
  html{
    font-size: 2em;
  }
}
}
